In [1]:
import pandas as pd

In [2]:
%pwd

'C:\\Users\\student\\bigdata\\practice'

In [4]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 78D5-6279

 C:\Users\student\bigdata\practice 디렉터리

2020-07-22  오후 04:09    <DIR>          .
2020-07-22  오후 04:09    <DIR>          ..
2020-07-22  오후 04:08    <DIR>          .ipynb_checkpoints
2020-07-22  오후 04:07    <DIR>          examples
2020-07-21  오후 03:01            20,688 numpy실습1.ipynb
2020-07-21  오후 03:57             9,916 numpy실습2.ipynb
2020-07-22  오전 09:30            13,607 pandas실습1.ipynb
2020-07-22  오전 11:30            55,106 pandas실습2.ipynb
2020-07-22  오전 11:54            45,842 pandas실습3.ipynb
2020-07-22  오후 03:30            53,082 pandas실습4.ipynb
2020-07-22  오후 04:08                72 pandas입출력1.ipynb
2020-07-20  오후 04:15            25,121 파이썬자료형실습.ipynb
2020-07-20  오후 01:55             2,446 파이썬테스트.ipynb
               9개 파일             225,880 바이트
               4개 디렉터리  210,906,808,320 바이트 남음

In [8]:
%cd examples/

[WinError 2] 지정된 파일을 찾을 수 없습니다: 'examples/'
C:\Users\student\bigdata\practice\examples

In [9]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 78D5-6279

 C:\Users\student\bigdata\practice\examples 디렉터리

2020-07-22  오후 04:07    <DIR>          .
2020-07-22  오후 04:07    <DIR>          ..
2017-11-26  오후 01:17                58 ex1.csv
2017-11-26  오후 01:17                42 ex2.csv
2017-11-26  오후 01:17               170 ex3.txt
               3개 파일                 270 바이트
               2개 디렉터리  210,906,873,856 바이트 남음

In [14]:
!type ex1.csv

지정된 파일을 찾을 수 없습니다.

In [15]:
%cd examples/

[WinError 2] 지정된 파일을 찾을 수 없습니다: 'examples/'
C:\Users

In [16]:
%cd student/bigdata

C:\Users\student\bigdata

In [17]:
%dir

ERROR:root:Line magic function `%dir` not found.

In [18]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 78D5-6279

 C:\Users\student\bigdata 디렉터리

2020-07-22  오후 04:09    <DIR>          .
2020-07-22  오후 04:09    <DIR>          ..
2020-07-21  오후 04:01                18 .gitignore
2020-07-20  오전 11:48    <DIR>          .ipynb_checkpoints
2020-07-22  오후 04:12    <DIR>          practice
2020-07-22  오후 03:23    <DIR>          solution
               1개 파일                  18 바이트
               5개 디렉터리  210,906,509,312 바이트 남음

In [19]:
%cd practice/

C:\Users\student\bigdata\practice

In [23]:
!type examples\ex1.csv # table의 제목이 될 row를 포함하는 데이터

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [24]:
df = pd.read_csv('examples\ex1.csv', sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [25]:
!type examples\ex2.csv # table의 제목이 될 row가 없는 데이터

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [32]:
df2 = pd.read_csv('examples\ex2.csv', sep=',')
df2 # header 자리에 첫 번쨰 row가 들어가서 원하는 형식으로 보이지 않음

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [30]:
df2 = pd.read_csv('examples\ex2.csv', sep=',', header=None) # header 없이 읽으라는 뜻

In [31]:
df2

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [33]:
pd.read_csv('examples\ex2.csv', sep=',', names=['a', 'b', 'c', 'd', 'greeting']) # column name을 지정함

   a   b   c   d greeting
0  1   2   3   4    hello
1  5   6   7   8    world
2  9  10  11  12      foo

In [35]:
f = open('examples\ex3.txt', 'r', encoding='utf-8')

In [37]:
list(f)

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']